form {
    width: 500px;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
  }
  
.add_card_form{
    width: none;
    background-color: transparent;
    padding: 0;
    text-align: default;
    border-radius: default;

}

  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    width: 200px;
    margin-top: 0.5rem;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: #ddd;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    margin-top: 1rem;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .playercard{
    box-shadow: 1px 1px 1px 1px solid gray;
    background-color: antiquewhite;
    padding: 1rem;
    margin: 2rem 0;
    width: 300px;
    justify-content: space-evenly;
  }
  .Add_button{
    width: max-content;
    height: max-content;
    font-size: 10px;
  }
  .home_page{
   max-width: 1170px;
   margin: 0 auto;
  }
  .teamcard{
    box-shadow: 1px 1px 1px 1px solid gray;
    background-color: rgb(215, 249, 250);
    padding: 1rem;
    margin: 2rem 0;
    width: 400px;
    justify-content: space-evenly;
  }

  table,tr,td,th{
    border: 1px solid black;
  }
